@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------index_1-------------------------- */

.wrap {
    width: 100vw;
    height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1551776235-dde6d482980b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;

}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.logo {
    width: 148px;
    height: 148px;
    margin-top: 47px;
    margin-left: 54px;
}

.room {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    margin-top: 392px;
}

.room_date {
    width: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.date {
    font-family: NotoSansCJKtc-DemiLight;
    font-size: 66px;
    color: #ffffff;
    padding: 2px;
}

.date_shawdow {
    display: none;
    width: 86px;
    height: 19px;
    position: absolute;
    bottom: -1px;
    background-size: 10px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 1) 10%,
            transparent 5%,
            transparent 50%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 1) 60%,
            transparent 50%,
            transparent);
}

.roomName {
    white-space: nowrap;
    font-family: NotoSansCJKtc-DemiLight;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 2.51px;
    margin-top: 8px;
}

.content {
    height: 360px;
    width: 297px;
    background-color: #ffffff;
    margin-top: 48px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.list li {
    font-family: NotoSansCJKtc-Light;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.46px;
    padding: 37px 175px 0px 37px;
    white-space: nowrap;
    position: relative;
}

.list li::before {
    content: "";
    background-color: black;
    width: 23px;
    height: 1px;
    position: absolute;
    left: 0px;
    top: 85%;
    opacity: 0;
}

.list li:hover::before {
    opacity: 1;
}

.list_shawdow {
    position: absolute;
    right: 0px;
    bottom: -20px;
    width: 281px;
    height: 20px;
    background-size: 10px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(45deg,
            rgba(255, 255, 255, 1) 10%,
            transparent 5%,
            transparent 50%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 1) 60%,
            transparent 50%,
            transparent);
}

.connection {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    margin-top: 170px;
}

.whitIcon {
    display: inline;
}

.icon {
    width: 20px;
    height: 20px;
}

.contentIcon {
    margin-top: 33px;
}

.contentIcon li {
    padding-top: 16px;
    display: flex;
}

.contentIcon span {
    font-family: NotoSansCJKtc-DemiLight;
    font-size: 14px;
    color: #ffffff;
    padding-left: 11px;
    padding-top: 3px;
}

/* ------------------------------index_2-------------------------- */

.halfBkg {
    background-image: url("");
    flex-direction: column;
}

.coverSlide {
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: column;
}

.coverflow {
    width: 100%;
    height: 660px;
    background-image: url('');
    background-color: #DCDCDCDC;
    background-size: 130%;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    transition: 6s ease;
}

.coverSmall {
    animation-name: bgZoomIn;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bgZoomIn {
    0% {
        background-size: 130%;
    }

    100% {
        background-size: 100%;
    }
}


.logoM {
    margin-left: 655px;
    margin-top: 150px;
}

.connect {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-left: 580px;
    margin-bottom: 250px;
}

.community {
    width: 25px;
    height: 25px;
}

.line {
    border-left: #ffffff 1px solid;
    height: 90px;
}

.infoIcon {
    margin-top: -15px;
}

.roomImg {
    width: 80%;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 165px;
    margin-top: -150px;
}

.roomInfo {
    /* background-image: url("https://images.unsplash.com/photo-1519974719765-e6559eac2575?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
    background-size: 175%;
    background-position: center bottom;
    width: 30%;
    height: 400px;
    box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.18);
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
}

.infoHover {
    width: 100%;
    background: #f7f7f7;
    position: relative;
    bottom: -15%;
    transition: 0.5s ease;
}

.infoHover h3 {
    font-family: "Noto Sans TC";
    color: #000000;
    letter-spacing: 1.46px;
    margin: 23px 30px 0px;
}

.infoHover p {
    font-size: 14px;
    color: #6d7278;
    letter-spacing: 2.19px;
    line-height: 31px;
    padding-left: 30px;
    margin-bottom: 23px;
    opacity: 0;

}

.hoverInfo {
    display: flex;
    align-items: baseline;
    font-family: "Noto Sans TC";
    font-size: 12px;
    padding: 0px;
    opacity: 0;
    /* display: none; */
}

.roomInfo:hover {
    background-size: 190%;
    transition: 0.5s ease;
}

.roomInfo:hover .hoverInfo,
.roomInfo:hover .infoHover p {
    opacity: 1;

}

.roomInfo:hover .infoHover {
    bottom: 0;

}

.hoverInfo p {
    font-size: 21px;
    color: #000000;
    letter-spacing: 2.19px;
    line-height: 31px;
}

.hoverInfo span {
    font-size: 14px;
    padding-left: 10px;

}

.hoverInfo span.price {
    font-size: 14px;
    padding-left: 70px;
    color: #6d7278;
    padding-top: 10px;
    padding-bottom: 20px;
}

.holiday {
    color: #6d7278;
}